@use "general";
@use "promo_transition";



.background_color{
    transition: all 1s ease-in-out;
}

.background_color:hover{
    box-shadow: 10px 10px rgba(10, 10, 10, 0.377);

}

/* above us for menu picture hover */

#indexImg{
    transition: all 1s ease-in-out;
}

#indexImg:hover{
    border-radius: 40%;
}

/* end of animations */




#index_header {
    display: grid;
    text-decoration-line: underline;
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 0, 0, 0.205);
    padding-bottom: 10px;
    padding-top: 5px;
}

/* Links for website*/
nav>a {
    font-style: italic;
    text-align: center;

}

a:link {
    font-weight: bold;
    font-size: medium;
}

a:visited {
    font-size: small;
    color: rgba(93, 160, 247, 0.959);
}

/*above are links for website */

p:hover {
    font-size: larger;

}

#indexImg:active {
    filter: opacity(0);
}

#indexP_one {
    padding-bottom: 10px;
}

p {
    text-align: center;
    padding-top: 20px;
}


#section_one {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    ;
    gap: 20px;
}

#indexImg {
    padding-top: 20px;
}



div>img {
    width: 100%;
    height: 40vh;
}

#contact_usImg {
    width: 90%;
    height: 40vh;
}

#index_promo {
    display: none;
}


/* tablet rules below! */

@media only screen and (min-width: 500px) {
    #indexImg {
        width: 40vw;
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
    }

    #index_promo {
        display: block;
        height: 30vh;
    }

    #div_one {
        display: grid;

    }

    a:link {
        font-size: larger;
    }
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}






/* Desktop rules below */

@media only screen and (min-width: 1000px) {

    a:link {
        font-size: x-large;
    }
}